<h1>Acerca de WikiCómics</h1>
<br>
<p>Somos una página de cómics conformada por un pequeño grupo de personas que nos dedicamos a la programación web y
    decidimos hacer una wiki acerca de los heroés que hemos visto en películas. Con este proyecto, nuestro objetivo es
    informar acerca de super heroés y villanos, con una visualización desde Pc, Tablet o Smartphone. Investigamos y
    recopilamos toda nuestra información en números de cómics, wikis y películas.</p>
<p><img src="assets/img/heroes.webp" class="img" alt="" width="575" height="400" /></p>
