@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');

body{
    display: flex;
    justify-content: center;
    font-family: 'Roboto Flex', sans-serif;
}
.container{
    position: relative;
    width: 1800px;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows:  minmax(200px, auto);
    margin: 40px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}
.container .card{
    display: grid;
    place-items: center;
    text-align: center;
    transition: 0.25s;
    font-family: 'Roboto Flex', sans-serif;
}
.container .card:hover{
    background: #c4f590;
}

@media (max-width: auto){
    .container{
    grid-template-columns: repeat(auto-fill, minmax(50%,1fr));
    grid-template-rows:  minmax(auto, auto);
    }
    .container .card{
        grid-column: inset !important;
        grid-row: inset !important;
    }
}
